.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo--white {
    color: var(--white-color);
}
.footer__wrapper {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    
    @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }
    
        @media screen and (min-width: 1200px) {
            justify-content: space-between;
        }
}