.header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 768px) {
            height: 80px;
        }
}

.header__container {
    height: 100%;
    display: flex;

}

.header__logo {

    display: flex;
    align-items: center;
    
        @media screen and (min-width: 768px) {
            margin-right: 87px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
}


.header__contacts-list {

    display: none;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            margin-left: auto;
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }
  
}

.header__contacts-link {

    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    gap: 8px;
    transition: color 250ms var(--time);
    
    @media screen and (min-width: 1200px) {
        gap: 10px;
        padding: 32px 0;
    }

    &:hover,
    &:focus {
        color: var(--blue-color);
    }
}

.header__contacts-icon {
    fill: currentColor;
}

.header__button {
    padding: 0;
    background-color: transparent;
    border-color: transparent; 

        @media screen and (min-width: 768px) {
            display: none;
        }

}

.header__contacts-icon {
    fill: currentColor;
}