.subscribe-box {
    // margin-left: 93px;
    width: 100%;
    
        @media screen and (min-width: 768px) {
            width: 450px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 570px;
        }
}

.subscribe-box__txt {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
    text-align: center;

@media screen and (min-width: 1200px) {
        text-align: left;
        line-height: 1.17;
    }
}

.subscribe-box__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
        }

}

.subscribe-box__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: var(--white-color);
    outline: none;
    border-radius: 4px;
    padding: 0 16px 0 16px;
    // margin-right: 12px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
            width: 358px;
        }

}

.subscribe-box__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: background-color 250ms var(--time), box-shadow 250ms var(--time);
    
    &:hover,
    &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}


.subscribe-box__icon {
    fill: var(--white-color);
    margin-left: 10px;
}