.hero {
    max-width: 100%;
    // width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 118px 0;
    background-color: var(--footer-color);
    color: var(--white-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-mob.jpg);

        @media screen and (min-width: 768px) {
            
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/hero-tab-1x.jpg);
            padding: 118px 0;
           
         }

        @media screen and (min-width: 1200px) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                                url(../images/bckg-image.jpg);
                height: 600px;
                padding: 200px 0;
                
            }
    }

.hero__title {

        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        margin-bottom: 30px;
        font-weight: 900;
        
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);
        
            @media screen and (min-width: 1200px) {
                max-width: 696px;
                font-size: 44px;
                line-height: 1.36;
            }
}

.hero__button {
    margin: 0 auto;
    padding: 10px 24px;

    transition: background-color 250ms var(--time), box-shadow 250ms var(--time);

    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
    }

    &:hover,
    &:focus {
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

}

